* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  --primary-color: #000000;
  --secondy-color: #ff7300;
  --tertiary-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);  
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondy-color);  
  border-radius: 20px;
  border: 1px solid white;
}